doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Leah's project

    meta(name="description", content="twitter stuffs")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat", type='text/css')
    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body
    .container
      .header
        h1 Twitter Symbols
        small 
          | Streaming a connection between node.js and Twitter using socket.io. 
  
        small
          i
            | Last updated:
            span(id="last-update") Never
      
      

      ul#heatmap
        each val, key in data.symbols
          li(data-symbol="#{key}")= key
      h2 Tweets
      ul.tweets
      
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    
    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")
    
    script(type="text/javascript", src="assets/scripts/main.js")
