
$font-stack: Helvetica, sans-serif

body
    font-family: Helvetica, sans-serif
    color: grey

.container
    
    ul#heatmap
        color:white
        background-color: #d3d3d3
    
    ul.tweets
        overflow-y: auto
        height: 500px
        width: 100%
        
        li
            border: .25px solid grey
            padding: 20px

    ul
        list-style-type: none

// Dacy is soooo smart... smrt
